*{
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
}

span.badge{
    position: absolute;
    margin-top: -6px;
    margin-left: -5px;
}

a.navbar-brand{ 
    margin-right: 40px;
    margin-left: 33px;
}

.nav-link{
    color: #73818f;
}

button.btn{
    color: #73818f;
}

.size-icon{
    width: 50px;
    height: 21px;
    padding: 0px;
}

img.img-avatar{
    margin: 0 10px;
    height: 35px;
}

button.btn{
    padding: 4px 0px;
    width: 50px;
    height: 33px;
}

nav.navbar{
    padding: 0px 0px;
    width: 100%;
    height: 56px;  
}

.padding-left-right-16{
    padding: 0 16px;
}

.pt-6{
    padding-top: 6px;
}

.nav-link:hover{
    color: black;
}

button.btn.btn-link:hover{
    color: black;
}

@media only screen and (max-width: 992px) {
    li.nav-item {
      display: none;
    }
  }

/* notification */
div.dropdown-menu{
    top:35px;
    padding: 0;
    width: 248px;
}
h5.dropdown-header{
    text-align: center;
    font-weight: 700;
    background: #e4e7ea;
}
a.dropdown-item{
    border: 1px solid #dee2e6!important; 
}
h5.dropdown-header{
    padding: 8px 20px;
}
a.dropdown-item{
    padding: 10px 20px;
}
a.dropdown-item small{
    color: #73818f;
}
div.progress{
    height:5px;
}
.dropdown-item i{
    margin-right: 20px;
}

a.dropdown-item b{
    font-size: 11px;
}

/* messages */
div.drop-messages{
    width: 270px;
}
.drop-messages a.dropdown-item{
    padding: 10px 15px;
}
.messages{
    height: 58px;
    position: relative;
}
div.main-messages{
    width: 150px;
    height: 20px;
}
div.main-messages i{
    margin-right: 0;
}
span.avatar-status{
    padding: 4px;
    right: 172px;
    top: 0px;
    margin-top: 40px;   
    position: absolute;
}
div #show-list{
    height: 410px;
    overflow-y: scroll;
}

div #show-list{
    height: 320px;
}


