  .table-page {
    width: 100%;
    padding-right: 30px;
  }

  .table-page td, .table-page th {
    padding: 8px;
  }

  .table-page tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table {
    margin: 10px 20px;
    width: 100%;
  }

  div.header-table {
    float: left;
    padding-right: 10px;
  }

  .icon-sort {
    margin-left: 10px;
  }

  tr {
    height: 40px;
    line-height: 20px;
  }

  thead {
    background-color: #008a77;
    color: white;
  }

  small {
    display: block;
  }

  .icon-location {
    padding-left: 20%;
    display: flex;
  }

  i.far {
    padding-right: 5px;
  }

  button.btn-circle {
    border-radius: 50px;
    min-width: 82px;
  }

  .pagination {
    width: 40%;
    float: left;
  }
  .table-layout-auto{
    min-width: 190px;
  }
  .rows-per-page {
    min-width: 150px;
    float: left;
  }

  .pagination a {
    float: left;
    padding: 8px 10px;
    font-weight: bolder;
    text-decoration: none;
  }

  .pagination a:hover {
    border-radius: 10px;
    background: #007bff;
    color: white;
  }

  .footer-page {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }

  .info-element-in-table {
    min-width: 182px;
    margin-right: auto;
    padding-left: 20px;
  }

  .active {
    color: #f2f2f2;
    border-radius: 10px;
    background: #007bff;
  }
  