* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.carousel-slide {
    max-width: 1024px;
    height: 343px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

div.control-prev a, div.control-next a {
    text-decoration: none;
    color: black;
}

div.control-prev, div.control-next {
    cursor: pointer;
    background-color: #E5E5E5;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 30px 13px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.5;
}

div.control-prev {
    left: 0px;
}

div.control-next {
    right: 0px;
}

div.control-prev:hover, div.control-next:hover {
    background-color: #6f42c1;
    opacity: 1;
}

.slide-wrapper {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0px;
}

.slide-thumbnail {
    padding: 4px;
    float: right;
    margin-right: 30px;
}

span.thumbnail {
    margin-left: 5px;
    border: 2px;
    display: inline-block;
}

span img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 60px;
    height: 60px;
}

span img:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 3px white;
    cursor: pointer;
}

.active {
    border: solid 3px white;
}

.hidden-img {
    display: none;
}



.slide {
    width: 4100px;
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

.slide-item {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
}